:root {
    --card-bg: rgba(255, 255, 255, 0.8);
}

[data-theme='dark']:root {
    --card-bg: rgba(18, 18, 18, 0.9);
}

/* 页脚模糊 + 变暗 */
#footer {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: brightness(60%) blur(16px);
    font-size: large;
    font-weight: bold;
}